doctype html
html(lang="ru")
    head
        script(src="/js/main.bundle.js" )
        //- meta(charset="utf-8")
        //- meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        //- meta(name="msapplication-TileColor" content="#ffffff")
        //- meta(name="theme-color" content="#ffffff")
        //- link(rel="stylesheet" href="styles/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title main Title
    body
        .overflow-body
        header
        main
            block content
        footer